.header {
  height: 10%;
  border-radius: 15px 15px 0 0;
  align-items: center;
}

.ant-select {
  width: 100% !important;
}
.ant-select input {
  width: 100% !important;
  max-height: 150px;
}
@media screen and (max-width: 576px) {
  .header {
    border-radius: 0px;
  }
}
