.slick-track img {
  height: 5rem;
  width: auto;
}
.slick-slider {
  top: 3rem;
  width: 50%;
  left: 40%;
}

@media screen and (max-width: 576px) {
  .slick-track img {
    height: 3rem;
    width: auto;
  }
  .slick-slider {
    top: 3rem;
    width: 100%;
    left: 0;
  }
  div .clothesComment {
    align-items: flex-start;
  }
}
